<div class="bg-135">

<div class="container">
<div class="row">
  <div class="col-12 mb-4"><h1 class="titulo78 lh-sm">Encontre Jesus</h1></div>
  <div class="col-12 mb-4"><p class="texto78 lh-sm">Você conhece Jesus? Precisa de Cura Física ou Espiritual?
    Deus transforma sua vida com seu amor e poder. Não há nada impossível para Deus. De acordo com sua Palavra, tudo é possível ao que crê. </p></div>

</div>
  <div class="accordion accordion-flush" id="accordionPanelsStayOpenExample">
    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-headingOne">
        <button
          class="accordion-button collapsed"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#flush-collapseOne"
          aria-expanded="false"
          aria-controls="flush-collapseOne"
        >
          Conheça Jesus
        </button>
      </h2>
      <div
        id="flush-collapseOne"
        class="accordion-collapse collapse"
        aria-labelledby="flush-headingOne"
        data-bs-parent="#accordionFlushExample"
      >
        <div class="accordion-body">
          Para conhecer a hitória de Jesus e seu evangelho, e seus milagres
          que ajudou milhares de pessoas. <a href="#" class="link-clique1" >Clique aqui</a>
          class. Saiba o quanto Jesus te ama e tudo o que ele já fez por você.
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-headingTwo">
        <button
          class="accordion-button collapsed"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#flush-collapseTwo"
          aria-expanded="false"
          aria-controls="flush-collapseTwo"
        >
          Receber Oração Profética
        </button>
      </h2>
      <div
        id="flush-collapseTwo"
        class="accordion-collapse collapse"
        aria-labelledby="flush-headingTwo"
        data-bs-parent="#accordionFlushExample"
      >
        <div class="accordion-body">
          Você pode receber oração para que Deus abençoe sua vida e da sua fampilia.
          Temos uma equipe de oração que está sempre de plantão para orar pelos pedidos de oração.
          <a href="#" class="link-clique1" >Clique aqui</a>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-headingThree">
        <button
          class="accordion-button collapsed"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#flush-collapseThree"
          aria-expanded="false"
          aria-controls="flush-collapseThree"
        >
          Receber Aconcelhamento
        </button>
      </h2>
      <div
        id="flush-collapseThree"
        class="accordion-collapse collapse"
        aria-labelledby="flush-headingThree"
        data-bs-parent="#accordionFlushExample"
      >
        <div class="accordion-body">
           É muito importante receber um acompanhamento, principalmente
           quando sentimos que precisamos conversar com alguém. Se você deseja que nossa equipe entre em contato para conversar,
           <a href="#" class="link-clique1" >Clique aqui</a>.
        </div>
      </div>
    </div>
  </div>
</div>
</div>
