<body>
  <app-page-layout1 id="menu-transparente-AW5"></app-page-layout1>

  <div class="section-1"> </div><!-- Div Responsável pelo fundo com imagem dos reporters - Não Apagar!!! -->
  <div class="h1-container">
      <h1><span class="special-letter">NEWS</span>ROOM</h1>
      <h2 class="text-break fw-light"> "Descubra as últimas bênçãos, eventos emocionantes e histórias inspiradoras em nossa Newsroom - onde a
        fé ganha destaque e a comunidade se fortalece!"</h2>
  </div>

    <div class="button-container">
      <a href="https://www.youtube.com/@lakewoodchurch/featured" class="btn btn-outline-dark rounded-0" type="submit" role="button" target="_blank" id="btn1">ONLINE<i class="bi bi-arrow-right"></i></a>
      <a href="https://www.youtube.com/@lakewoodchurch/featured" class="btn btn-outline-dark rounded-0" type="submit" role="button" target="_blank" id="btn2">RELATAR<i class="bi bi-arrow-right"></i></a>
      <a href="https://www.youtube.com/@lakewoodchurch/featured" class="btn btn-outline-dark rounded-0" type="submit" role="button" target="_blank" id="btn3">SUBSCREVER<i class="bi bi-arrow-right"></i></a>
    </div>

  <!-- <app-newsroom-section2></app-newsroom-section2> -->
</body>
