.button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px; /* Adicione um espaçamento entre o texto e os botões */
}

.btn {
  margin: 5px; /* Adicione um espaçamento entre os botões (opcional) */
}
