<body>
  <div class="section-1"></div>
  <h1><span class="special-letter">NEWS</span>ROOM</h1>
  <h2 class="text-break fw-light">"Descubra as últimas bênçãos, eventos emocionantes e histórias inspiradoras em nossa Newsroom - onde a fé ganha destaque e a comunidade se fortalece!"</h2>

  <div class="button-container">
    <a href="https://www.youtube.com/@lakewoodchurch/featured" class="btn btn-outline-dark rounded-0" type="submit" role="button" target="_blank" id="btn1">ONLINE<i class="bi bi-arrow-right"></i></a>
    <a href="https://www.youtube.com/@lakewoodchurch/featured" class="btn btn-outline-dark rounded-0" type="submit" role="button" target="_blank" id="btn2">RELATAR<i class="bi bi-arrow-right"></i></a>
    <a href="https://www.youtube.com/@lakewoodchurch/featured" class="btn btn-outline-dark rounded-0" type="submit" role="button" target="_blank" id="btn3">SUBSCREVER<i class="bi bi-arrow-right"></i></a>
  </div>
</body>


<div *ngFor="let item of items" class="container-fluid mx-0 px-0" >
  <div  class="hero parallax" [ngClass]="item.cssClass"></div> <!-- paralax aqui -->
  <div id="ct-bah32">
  <div  class="container bg-light" id="sub-ct-bah32">
    <div class="row">
      <div class="col-12 col-md-6 col-lg-6 col-xl-6  ava1">
      <img [src]="item.foto"  alt="Photo of a Shiba Inu"/> <!-- imagem aqui -->
    </div>
      <div class="col-12 col-md-6 col-lg-6 col-xl-6  ava2">
          <div class="titulo">
            <h2 class="item-title"> {{ item.title }}</h2>
          </div>
          <div class="sub-titulo">
            <p class="item-subtitle">{{ item.subtitle }}</p>
          </div>
          <div>

              <a href="#"><i class="bi bi-instagram"></i></a>
              <a href="#"><i class="bi bi-whatsapp"></i></a>
              <a href="#"><i class="bi bi-envelope-fill"></i></a>
          </div>
          <div class="conteudo">
              <p class="text-break">{{ item.discription }}</p>
          </div>
        </div>
    </div>
  </div>
  </div>
</div>
