
<div class="email-newsletter">
  <div class="container">
    <div class="titulo-subtitulo-454">
      <div class="">
        <h6 class="titulo-5556">EMAIL NOTÍCIAS</h6>
      </div>
      <div class="">
        <h6 class="titulo-5588">Fique Conectado</h6>
      </div>
    </div>
    <div class="fomulário-email">
      <form>
        <div class="custom-input">
          <div class="">
            <input type="text" class="form-control" id="nomeSobrenome" placeholder="Nome e Sobrenome">
          </div>
          <div class=" ">
            <input type="email" class="form-control" id="email" placeholder="Email">
          </div>
          <div class=" ">
            <button type="button" class="btn custom-button">Subscrever</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>



<!--
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script> -->
