
<app-up-global-nav></app-up-global-nav>
<app-menu></app-menu>
<div class="container-flow">
  <div class="row">
    <div class="col">
      <div class="video-container">
        <video muted autoplay loop>
          <source src="assets/VIDEO-Header.webmhd.webm" type="video/mp4" />
          Seu navegador não suporta o elemento de v ídeo.
        </video>
      </div>
    </div>
  </div>
</div>
<app-resume-faith-church></app-resume-faith-church>
<app-cell-phone-promo-a1></app-cell-phone-promo-a1>
<app-encontre-jesus></app-encontre-jesus>
<app-music-festival></app-music-festival>
<app-element-paralax-c></app-element-paralax-c>
<app-email-news-letter></app-email-news-letter>
<app-footer></app-footer>





<!-- <div class="social-icons">
  <a href="#" target="_blank"><i class="fab fa-instagram"></i></a>
  <a href="#" target="_blank"><i class="fab fa-facebook"></i></a>
  <a href="#" target="_blank"><i class="fab fa-youtube"></i></a>
  <a href="#" target="_blank"><i class="fab fa-twitter"></i></a>
</div> -->

