
  <nav class="navbar my-0 d-none d-md-block">
    <div class="container-fluid py-0 my-0">
      <ul class="d-flex flex-row navbar-nav">
              <li class="nav-item  px-2">
                <a class="navbar-toggler" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
                  CONECTAR
                </a>
              </li>
              <li class="">
                <div class="vr fs-4"></div>
              </li>
              <li class="nav-item px-2">
                <a class="icon-nav-social" href="#" target="_blank"><i class="bi bi-geo-alt"></i></a>
                <a class="icon-nav-social" href="#" target="_blank"><i class="bi bi-instagram"></i></a>
                <a class="icon-nav-social" href="#" target="_blank"><i class="bi bi-facebook"></i></a>
                <a class="icon-nav-social" href="#" target="_blank"><i class="bi bi-youtube"></i></a>
                <a class="icon-nav-social" href="#" target="_blank"><i class="bi bi-twitter"></i></a>
              </li>
              <li class="nav-item px-2">
                <a class="link-faleConosco text-decoration-none" href="fale-conosco"><i class="bi bi-headset mr-2"></i>Fale Conosco</a>
              </li>
              <li class="nav-item px-2">
                <a><i class="bi bi-globe"></i>English</a>
              </li>
      </ul>
      <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
        <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="offcanvasNavbarLabel">CONECTAR</h5>
          <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body mt-5">
          <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Dropdown
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Action</a></li>
                <li><a class="dropdown-item" href="#">Another action</a></li>
                <li>
                  <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" href="#">Something else here</a></li>
              </ul>
            </li>
          </ul>
          <form class="d-flex mt-3" role="search">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
          </form>
        </div>
      </div>
    </div>
  </nav>

<!-- <div class="container-fluid py-1 ">
    <ul class="navbar-nav d-flex flex-row">
      <li class="nav-item px-2">
        <a class="conectar">CONECTAR</a>
      </li>
      <li class="nav-item separador55 px-2 py-0 my-0">|</li>
      <li class="nav-item px-2">
        <a><i class="bi bi-headset mr-2"></i>Fale Conosco</a>
      </li>
      <li class="nav-item px-2">
        <a><i class="bi bi-globe"></i>English</a>
      </li>
    </ul>
</div>
 -->

