body{
  background-image: url(https://static.vecteezy.com/system/resources/previews/003/127/954/non_2x/abstract-template-blue-background-white-squares-free-vector.jpg);
  background-size: cover; /* Para cobrir toda a área do elemento pai */
  background-position: center; /* Para centralizar a imagem */
  background-repeat: no-repeat; /* Para não repetir a imagem */
}

.container-fluid{
  height: 475px;
}

#title-sobre{
 font-size: 200px;
 color: white;
}
.title-sobre-fc{
  height: 475px;

  display: flex;
  justify-content: center;
  align-items: center;
}
