<body>
  <div class="container">
    <div class="row">
      <div class="col-6" id="IO-2F">
        <img src="\assets\lakewoodchurchCellPhonePromo435x5712xv2.png" alt="" id="imgY85">

      </div>
      <div class="col-6 d-flex " id="IO-3F">
            <h1>IGREJA ONLINE</h1>
            <p class="text-break">A Faith Church online possibilita a você participar das programações extamante de onde você está.
              Nossos eventos são ao vivo e você pode participar enviando seus cometários e também pedir orações,
              nossas séries são atualizadas semanalmente e notícias também.
            </p>
            <p class="text-break">
              Ah... Quando você estiver conectado conosco em nossos eventos ao vivo, não se esqueça de nos contar de onde você fala para que possamos
              te boas vindas.
            </p>
            <a href="https://www.youtube.com/lakewoodchurch/streams" target="_blank"><button class="glow-on-hover" type="button"><span>PARTICIPE AGORA!</span><i class="bi bi-collection-play-fill"></i></button></a>


      </div>
    </div>
  </div>
</body>
