<div class="container-flow footer-component">
  <!-- ==================== conteiner 01 - título do footer ================= -->
  <div class="container footer-a">
    <div class="row">
      <div class="col pt-4">
        <h4 class="titulo-footer">
          AGRADEÇEMOS POR SUAGENEROSIDADE. ENCONTRANDO DIFICULDADES PARA DOAR?
          <br /><a href="" class="link-info">CLICK AQUI </a>PARA DOAR OU LIGUE +55 21-98330-1230.
        </h4>
      </div>
    </div>
  </div>

  <!-- ==================== conteiner 02 - social media e links ================= -->
  <div class="container footer-b my-0 ">
    <div class="row">
      <div class="mb-sm-5 -col-md-5 col-lg-3" id="quadro-media-social">
          <div class="container mb-5 pt-4">
            <div class="row">
              <div class="col-4 px-0">
                <img src="assets/cell-phone-footer.webp" alt="">
              </div>
              <div class="col-8 pl-2">
                  <h4 class="title-watch-online-footer text-white">Get the <br> Joel Osteen <br>App today!</h4>
              </div>
            </div>
          </div>
          <div class="container pb-md-4">
            <div class="row">
              <div class="col pl-0 mb-3 text-white">
                <h5>Midia Social</h5>
              </div>
              <div class="container pl-0">
                <div class="flex-row d-flex">
                  <a href="" class="social_media_icon mx-1 fs-2" id="facebook-icon-footer"
                  ><i class="bi bi-facebook"></i
                ></a>
                <a href="" class="social_media_icon mx-1 fs-2" id="instagram-icon-footer"
                  ><i class="bi bi-instagram"></i
                ></a>
                <a href="" class="social_media_icon mx-1 fs-2" id="youtube-icon-footer"
                  ><i class="bi bi-youtube"></i
                ></a>
                <a href="" class="social_media_icon mx-1 fs-2" id="twitter-icon-footer"
                  ><i class="bi bi-twitter"></i
                ></a>
                <a href="" class="social_media_icon mx-1 fs-2" id="email-icon-footer"
                  ><i class="bi bi-envelope-at"></i
                ></a>
                </div>
              </div>
            </div>
          </div>
      </div>


      <!-- ================= quadro de links abaixo ====================== -->
      <div class="col-md-12 col-lg-7 col-xl-
      d-none d-md-block text-start" id="quadro-links">
        <div class="container px-0 pt-4" id="links-A">
          <div class="row">
            <div class="col text-start">
              <a><h5 class="link-title-footer">JESUS</h5></a>
              <a><h6 class="link-text-footer">Quem é Jesus</h6></a>
              <a><h6 class="link-text-footer">Mensagem e Frases</h6></a>
              <a><h6 class="link-text-footer">Eventos Importantes</h6></a>
              <a><h6 class="link-text-footer">Intercessão e Oração</h6></a>
              <a><h6 class="link-text-footer">Base da Nossa Fé</h6></a>
              <a><h6 class="link-text-footer">Messias nas Professias</h6></a>
            </div>
            <div class="col text-start">
              <a><h5 class="link-title-footer">IGREJA</h5></a>
              <a><h6 class="link-text-footer">Hitória</h6></a>
              <a><h6 class="link-text-footer">Nossa Fé</h6></a>
              <a><h6 class="link-text-footer">Liderança</h6></a>
              <a><h6 class="link-text-footer">Testemunhos</h6></a>
              <a><h6 class="link-text-footer">Localizações</h6></a>
              <a><h6 class="link-text-footer">Seja Membro</h6></a>
              <a><h6 class="link-text-footer">Fale Conosco!</h6></a>
            </div>
            <div class="col text-start">
              <a><h5 class="link-title-footer">EVENTOS</h5></a>
              <a><h6 class="link-text-footer">Nossos Cultos</h6></a>
              <a><h6 class="link-text-footer">Sala de Oração</h6></a>
              <a><h6 class="link-text-footer">Café com Pr. Presidente</h6></a>
              <a><h6 class="link-text-footer">Batismo</h6></a>
              <a><h6 class="link-text-footer">Sport-Day</h6></a>
              <a><h6 class="link-text-footer">Culto das Mulheres</h6></a>
            </div>
            <div class="col text-start">
              <a><h5 class="link-title-footer">NOTÍCIAS</h5></a>
              <a><h6 class="link-text-footer">Novidades</h6></a>
              <a><h6 class="link-text-footer">Playlist</h6></a>
              <a><h6 class="link-text-footer">Blog</h6></a>
            </div>
          </div>
          <div class="container px-0 pt-4" id="links-B">
            <div class="row">
              <div class="col text-start">
                <a><h5 class="link-title-footer">UNIVERSIDADE</h5></a>
                <a><h6 class="link-text-footer">Social</h6></a>
                <a><h6 class="link-text-footer">Teologia</h6></a>
                <a><h6 class="link-text-footer">Escola de Ministerial</h6></a>
                <a><h6 class="link-text-footer">Escola Bíblica</h6></a>
                <a><h6 class="link-text-footer">Atendimento</h6></a>
              </div>
              <div class="col text-start">
                <a><h5 class="link-title-footer">ONLINE</h5></a>
                <a><h6 class="link-text-footer">Ao Vivo</h6></a>
                <a><h6 class="link-text-footer">Séries</h6></a>
                <a><h6 class="link-text-footer">Podcasts</h6></a>
                <a><h6 class="link-text-footer">Mensagens</h6></a>
                <a><h6 class="link-text-footer">Central de Atendimento</h6></a>
              </div>
              <div class="col text-start">
                <a><h5 class="link-title-footer">CULTOS</h5></a>
                <a><h6 class="link-text-footer">Quartas às 19h</h6></a>
                <a><h6 class="link-text-footer">Sábado às 18h</h6></a>
                <a><h6 class="link-text-footer">Domingo às 09h</h6></a>
                <a><h6 class="link-text-footer">Domingo às 17h</h6></a>
                <a><h6 class="link-text-footer">Domingo às 19h</h6></a>
              </div>
              <div class="col text-start">
                <a><h5 class="link-title-footer">CONTATO</h5></a>
                <a><h6 class="link-text-footer">+55 21 98330-1230</h6></a>
                <a><h6 class="link-text-footer">faithchurch@gmail.com</h6></a>
                <a><h6 class="link-text-footer">midia@faithchurch.com</h6></a>
                <a><h6 class="link-text-footer">FAQ - Faith Church</h6></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
   <!-- ==================== conteiner 03 - privacidade + termos de uso + copyright ================= -->
 <div class="container-flow footer-c mt-0 py-4">
  <div class="row">
    <div class="col-6 text-white text-end" id="copuright-a">
      <p class="copyright-a">Copyright © 2023 Tiago Lima Ministries.</p>
      <p class="copyright-a">Desenvolvido por <a href="" class="link-tiago-lima-footer link-info">Tiago Lima</a> para o Portifólio de Projetos.</p>
    </div>
    <div class="col-6 text-white text-start" id="copuright-b">
      <p class="copyright-c">
        FAITH CHURCH É UM PROJETO FICTÍCIO ELABORADO PARA APRESENTAÇÃO DE TEMPLATE DE PROJETO.
      </p>
    </div>
  </div>
  </div>

</div>



