<body>
  <div class="container">
      <h1 class="text-break ">
        Faith church é uma igreja que acredita em Jesus, uma igreja que ama a Deus e as Pessoas.
      </h1>
      <div id="aw198">
        <div class="aw-b">
          <h2 class="text-break text-start justify-content lh-1">
            Todo cristão foi criado para pertencer a uma comunidade. Nunca esteve no coração de Deus que nós fossemos pela vida sozinhos.
          </h2>
          <p class="text-break">
            Betel é uma congregação de adoradores de Jesus Cristo em Recreio, Rio de Janeiro, que anseiam por ver os corações inflamados
            até que o céu encontre a terra. Estamos à beira do maior avivamento de todos os tempos. Envolva-se e junte-se a nós
            enquanto buscamos a expansão pessoal, regional e global do reino de Deus através de Sua presença manifesta.
          </p>
          <div class="" id="buttons265">
            <a href="https://www.google.com/maps/place/Igreja+do+Recreio+dos+Bandeirantes/@-23.0127278,-43.4705199,17z/data=!3m1!4b1!4m6!3m5!1s0x9bdd49e86f8c25:0x372e129cfde0ab8!8m2!3d-23.0127328!4d-43.465649!16s%2Fg%2F11b806439s?shorturl=1"
            class="btn btn-outline-dark rounded-0"
            type="submit" role="button" target="_blank">RECREIO<i class="bi bi-arrow-right"></i></a>
            <a href="https://www.youtube.com/@lakewoodchurch/featured" class="btn btn-outline-dark rounded-0"
            type="submit" role="button" target="_blank">ONLINE<i class="bi bi-arrow-right"></i></a>
          </div>
        </div>
          <div>
            <img src="\assets\prayer_encounter.jpg" alt="" class="img-fluid"> <!-- Adicione a classe img-fluid -->
          </div>
      </div>
    </div>
</body>
