<body>
  <div class="wrapper">
    <div id="skw1" class="cont-div">
      <div class="container">
        <div id="aw198">
          <div>
            <!-- Substitua 'SE7E7tDgO6A' pelo ID do vídeo do YouTube que você deseja incorporar -->
            <iframe width="560" height="315" src="https://www.youtube.com/embed/UH4DJYL4VUM?controls=1&autoplay=0" frameborder="0" allowfullscreen></iframe>
          </div>
          <div class="aw-b">
            <h2 class="text-break text-start justify-content lh-1">
              IDENTIFIQUE, DESENVOLVA, E LIBERE SEUS TALENTOS SINGULARES            </h2>
            <hr class="hr3">
            <p class="display-6 text-break">
              Descubra o potencial que Deus colocou em você! Em nossa jornada de fé, buscamos identificar,
              desenvolver e liberar os talentos singulares que cada um possui. Na Newsroom, compartilhamos
              histórias inspiradoras, eventos emocionantes e oportunidades para você se envolver. Juntos, celebramos
              os dons que enriquecem nossa comunidade.  Venha fazer parte dessa jornada extraordinária!
            </p>
          </div>
        </div>
      </div>
    </div>
    <div id="skw2" class="cont-div">
      <div class="content-2">
          <h3>HEADER TEXT</h3>
          <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Esse harum quas fuga modi magnam accusamus quaerat id repellat laboriosam consequatur distinctio beatae saepe nostrum sapiente, aut quidem! Dolor, tenetur eos!</p>
      </div>
    </div>
    <div id="skw3" class="cont-div">
      <div class="content-3">
          <h3>HEADER TEXT</h3>
          <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Esse harum quas fuga modi magnam accusamus quaerat id repellat laboriosam consequatur distinctio beatae saepe nostrum sapiente, aut quidem! Dolor, tenetur eos!</p>
      </div>
    </div>
  </div>
</body>
