
<!-- <div class="container-fluid" id="containerjw12">
</div> -->
<nav class="navbar navbar-expand-md vw-100">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img
        class="d-block logo-faith-church-03"
        src="./assets/faith-church-logo-white-transparent.png"
        alt="Logo da Faith Church"
      />
    </a>
    <button class="navbar-toggler collapsed d-flex d-md-none flex-column justify-content-around" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="toggler-icon top-bar"></span>
      <span class="toggler-icon middle-bar"></span>
      <span class="toggler-icon bottom-bar"></span>
    </button>
    <div class="collapse navbar-collapse " id="navbarSupportedContent">
      <h1 class="d-md-none"><span class="special-letter">NEWS</span>ROOM</h1>
      <ul class="navbar-nav mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link text-danger" href="#">HOME</a>
        </li>
        <li class="nav-item ">
          <a class="nav-link text-danger" href="#">ASSISTIR</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-danger" href="#">SOBRE</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-danger" href="#">AJUDAR</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-danger" href="#">MAIS</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<!-- <nav class="navbar navbar-expand-md ">
  <div class="container-fluid" id="ct-4892">
    <a class="navbar-brand" href="#">
      <img
        class="d-block logo-faith-church-03"
        src="./assets/faith-church-logo-white-transparent.png"
        alt="Logo da Faith Church"
      />
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"><i class="bi bi-list"></i></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link " aria-current="page" href="#">HOME</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " aria-current="page" href="#">ASSISTA</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " aria-current="page" href="#">SOBRE</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " aria-current="page" href="#">MAIS</a>
        </li>
      </ul>
    </div>
  </div>
</nav> -->
