<body>
<div class="container-fluid">
  <div class="row">
      <div class="col text-center">
          <h1 class="fw-bolder mt-4">Aqui você tem acesso a artigos sobre temas muito atuais escrito por nossos editores associados. </h1>
      </div>
  </div>
  <div class="row">
    <div class="col text-center ">
        <H4 class="fw-light">Texas Rep. Ronny Jackson said Biden 'can't do the job' anymore
        </H4>
    </div>
  </div>

</div>
<!-- =======  Cabeçalho =========================================================================== -->


<div class="container mt-4" id="card-editores-1">
  <div class="row gy-3">
      <div class="col-sm">
        <div class="card h-100">
          <img src="assets/joelOsteen_autor01.PNG" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Pr. Joel Osteen</h5>
            <p class="card-text">Escritor recordista de vendas no The New Times e Pastor Presidente da Lakewood Church.</p>
            <a href="article-1" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>
      <div class="col-sm">
        <div class="card h-100">
          <img src="assets/KariJobe_autor.PNG" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Kari Jobe</h5>
            <p class="card-text">Cantora evangélica e escritora de livros. Suas canções são umas das mais tocadas nas igrejas evangélicas</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>
      <div class="col-sm">
        <div class="card h-100">
          <img src="assets/tdjakes_autor03.PNG" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Bispo Tide Jakes</h5>
            <p class="card-text">Bispo na The Potter's House Church e Escritor de livros há mais de 25 anos.  </p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>
  </div>
</div>
<br>

<div class="container mt-4 mb-5" id="card-editores-2">
  <div class="row gy-3">
      <div class="col-sm">
        <div class="card h-100">
          <img src="assets/PaulaWhite_autor.PNG" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Dra. Paula White</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>
      <div class="col-sm">
        <div class="card h-100">
          <img src="assets/VictoriaOsteen_autor04.PNG" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>
      <div class="col-sm">
        <div class="card h-100">
          <img src="assets/jhonPiper_autor02.PNG" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>
  </div>
</div>
</body>
