<nav class="navbar sticky-top  navbar-expand-md navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img
        class="d-block logo-faith-church"
        src="./assets/faith-church-logo-black-transparent.png"
        alt="Logo da Faith Church"
      />
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" href="#">JESUS</a>
        </li>

        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="ministerios">IGREJA</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="ministerios">MINISTÉRIOS</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">EVENTOS</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="noticias">NOTÍCIAS</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="universidade">UNIVERSIDADE</a>
        </li>

        <li class="nav-item">
          <a class="nav-link active" href="blog">BLOG</a>
        </li>
        <li class="nav-item">
          <a href="https://www.youtube.com/@lakewoodchurch/streams" class="btn btn-outline-danger rounded-0 blinking-button" type="submit" role="button" target="_blank">ONLINE</a>

        </li>
      </ul>
    </div>
  </div>
</nav>
