<body>

  <div class="hero london parallax">

    <div class="content">
      <h2 class="rellax lh-sm mb-2 px-2">Palavra de Deus</h2>
      <h3 class="rellax lh-sm mb-2 px-2">Acesse nossa playlist de mensagens </h3>
      <p class="lh-sm px-2">Contrua uma vida com propósito que Deus determinou aplicando os ensinamentos <br> escritos na palavra de Deus através de nossas mensagens que vão impactar <br>sua vida e o mundo.</p>
      <a href="https://www.youtube.com/@joelosteen/videos" target="_blank"><button class="rellax">ASSISTIR AGORA!</button></a>
   </div>

  </div>
  <div class="hero amsterdam parallax">

    <div class="content">
      <h2 class="rellax lh-sm mb-2 px-2">FC University </h2>
      <h3 class="rellax lh-sm mb-2 px-2">Bases fortes para capacitar seu ministério </h3>
      <p class="lh-sm px-2">Faith Church oferece cursos para fortalecer sua fé, contruir <br>bases sólidas
                            para o seu ministério. Saiba como <br> seguir a carreira com fé e sabedoria.<br>
      <a href="https://www.youtube.com/@joelosteen/videos" target="_blank"><button class="rellax">COMEÇAR AGORA!</button></a>
   </div>

  </div>

  <!-- <div class="page-container">

    <h2>London</h2>

     <p>
        London is the capital of and largest city in England and the United Kingdom,
        with the largest municipal population in the European Union.
        Standing on the River Thames in the south-east of England, at the head of its
        50-mile (80 km) estuary leading to the North Sea, London has been a major settlement
        for two millennia.

     </p>

     <p>
        London is considered to be one of the world's most important global
        cities and has been termed the world's most powerful, most desirable,
        most influential, most visited, most expensive, innovative, sustainable,
        most investment friendly, most popular for work, and the most vegetarian-friendly
        city in the world.
     </p>

  </div> -->

  <!-- <div class="hero amsterdam parallax">

  </div>

  <div class="page-container">

     <h2>Amsterdam</h2>

     <p>
        As the commercial capital of the Netherlands and one of the top financial
        centres in Europe, Amsterdam is considered an alpha- world city by the Globalization
        and World Cities (GaWC) study group. The city is also the cultural capital of the
        Netherlands. Many large Dutch institutions have their headquarters there,
        including Philips, AkzoNobel, TomTom and ING.
     </p>
     <p>
        Amsterdam fans out south from the Amsterdam Centraal railway station
        and Damrak, the main street off the station. The oldest area of the town
        is known as De Wallen (English: "The Quays"). It lies to the east of Damrak
        and contains the city's famous red light district. To the south of De Wallen
        is the old Jewish quarter of Waterlooplein.
     </p>

  </div> -->

</body>
