<body>

  <section>
    <form action="">
      <h1>Fale Conosco</h1>
      <div class="inputbox">
        <i class="bi bi-person-fill"></i>
        <input type="email" required />
        <label for="">Nome</label>
      </div>
      <div class="inputbox">
        <i class="bi bi-envelope-at"></i>
        <input type="email" required />
        <label for="">Telefone/Email</label>
      </div>
        <div >
        <label for="exampleFormControlTextarea1" class="form-label text-light">Mensagem</label>
        <textarea class="form-control mb-5" id="exampleFormControlTextarea1" rows="3"></textarea>
      </div>
      <div class="forget">
        <label for=""><input type="checkbox" />Remember Me</label>
        <a href="#">Forget Password</a>
      </div>


      <button>Enviar</button>
      <div class="register">
        <p>Don't have a account <a href="#">Register</a></p>
      </div>
    </form>
  </section>

</body>
