<body>

  <div class="wrapper">
    <main>
      <section class="module parallax parallax-1">
        <h1>A PALAVRA DE DEUS</h1>
        <h6>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam id fugit quo? <br> adipisci est, ut asperiores unde, quam itaque quibusdam esse quos molestias<br>  cupiditate harum maiores facere? Maxime, totam.</h6>
        <a href="https://www.youtube.com/@lakewoodchurch/featured" class="btn btn-outline-info rounded-0 custom-button-362"
        type="submit" role="button" target="_blank">ONLINE</a>


      </section>

      <section class="module content">
        <div class="container">
          <h2>Qualquer texto aqui..</h2>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut quisquam reiciendis unde voluptatem dignissimos! Adipisci alias rerum commodi ad excepturi. Quod aut maxime non architecto numquam vel et, magnam eius!
          </p>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut quisquam reiciendis unde voluptatem dignissimos! Adipisci alias rerum commodi ad excepturi. Quod aut maxime non architecto numquam vel et, magnam eius!
          </p>
        </div>
      </section>
    </main>
  </div>
</body>
