<body>
  <div class="container">
    <div class="sub-cont">
      <h1>WORLDWIDE</h1>
      <h2 class="text-break lh-1">Para levar a a mensagem do amor de Jesus para todos.</h2>
      <a href="https://www.youtube.com/@lakewoodchurch/featured" class="btn btn-outline-dark rounded-0"
            type="submit" role="button" target="_blank">Saiba Como Participar <i class="bi bi-arrow-right"></i></a>
    </div>
    <div>
      <img src="\assets\picks_guitar.png" alt="" class="img-fluid"> <!-- Adicione a classe img-fluid -->
    </div>
  </div>
</body>
